html, body, #root > div {
  height: 100vh;
  /* overflow-y: hidden; */
}

body {
  margin: 0;
}

.ecto-container {
  font-family: lato;
}

.ecto-container .full-height {
  height: 100vh;
}

.ecto-container .center-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ecto-container .drawer {
  width: 240px;
  flex-shrink: 0;
}

.ecto-container .MuiDrawer-paper {
  width: 240px;
}

.ecto-container .toolbar {
  height: 64px;
}

.ecto-container .list-container {
  padding-left: 280px;
  padding-top: 84px;
  padding-right: 40px;
  background-color: #f4f8f9;
  height: 100%;
}

.list-container .list-item {
  /* height: 50px; */
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #98a6ab;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  text-transform: capitalize;
}

.list-container .header-font {
  color: #98a6ab
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-family: cursive;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.ecto-container .header {
  background-color: #ffffff;
  height: 64px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.justify-center {
  justify-content: center;
}